USE [master]
GO
/****** Object:  Database [CourseApp]    Script Date: 12/16/2023 2:33:38 PM ******/
CREATE DATABASE [CourseApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CourseApp', FILENAME = N'C:\Users\User\Downloads\MSSQL16.MSSQLSERVER\MSSQL\DATA\CourseApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CourseApp_log', FILENAME = N'C:\Users\User\Downloads\MSSQL16.MSSQLSERVER\MSSQL\DATA\CourseApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CourseApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CourseApp]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 12/16/2023 2:33:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseId] [int] NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Lecturer] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 12/16/2023 2:33:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentId] [int] NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[City] [varchar](255) NOT NULL,
	[CourseId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
GO
USE [master]
GO
